<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-mx-auto">
      <h3>レシピ詳細</h3>
      	<table class='table'>
      	  <tr class="table-info"><th>投稿ユーザー</th></tr>
      	  <tr>
      	    <td><%= link_to @recipe.user.name, admin_user_path(@recipe.user) %></td>
          </tr>
          <tr class="table-info"><th>料理名</th><tr>
          <tr><td><%= @recipe.cooking_name %></td></tr>
      	  <tr class="table-info"><th>材料</th></tr>
      	  <tr><td><%= @recipe.material %></td></tr>
      	  <tr class="table-info"><th>作り方</th></tr>
      	  <tr><td><%= @recipe.making %></td></tr>
      	  <tr class="table-info"><th>作成時間</th></tr>
      	  <tr><td><%= @recipe.make_time %></td></tr>
        </table>
        <div class="row">
          <ul id="comment_area1">
            <%= render partial: 'admin/comments/index', locals: { comments: @comments } %>
          </ul>
        </div>
    </div>
  </div>
</div>