<div class="container">
  <div class="row">
    <h4><%= @user.name %>さんの会員情報編集</h4>
    <%#= render 'layouts/error', model: @user %>
    <div class="col-sm-12 mt-5">
      <%= form_with model: @user, url: admin_user_path, method: :patch, local:true do |f| %>

        <div class="form-group row">
          <p class="col-sm-2">会員ID</p>
          <p class="col-sm-2"><%= @user.id %></p>
        </div>

        <div class="form-group row">
          <%= f.label :名前, class: 'col-sm-2 control-label' %>
          <%= f.text_field :name, autofocus: true, class: 'rounded col-sm-2 mr-5' %>
        </div>

        <div class="form-group row">
          <%= f.label :メールアドレス, class: 'col-sm-2 control-label' %>
          <%= f.email_field :email, class: 'rounded col-sm-2' %>
        </div>

        <div class="form-group row">
          <%= f.label :会員ステータス, class: 'col-sm-2 control-label' %>
          <%= f.radio_button :is_deleted, :false %>
          <%= f.label :is_deleted, "入会中", class: 'col-sm-1' %>
          <%= f.radio_button :is_deleted, :true %>
          <%= f.label :is_deleted, "退会", class: 'col-sm-1' %>
        </div>

        <div class="action">
          <%= f.submit '変更を保存', class: "btn btn-success btn-lg offset-2 font-weight-bold" %>
        </div>
      <% end %>
    </div>
  </div>
</div>