<div class="container">
  <div class="row">
    <div class="col-4 mt-3">
      <h4 class="text-center"><%= @user.name %>さんの会員詳細</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-md-offset-1 mt-3">
      <table class="table table-borderless">
        <tr>
          <td class="col-sm-3">会員ID</td>
          <td class="col-sm-5"><%= @user.id %></td>
        </tr>
        <tr>
          <td class="col-sm-3">氏名</td>
          <td class="col-sm-5"><%= @user.name %></td>
        </tr>
        <tr>
          <td class="col-sm-3">メールアドレス</td>
          <td class="col-sm-5"><%= @user.email %></td>
        </tr>
        <tr>
          <td class="col-sm-3">会員ステータス</td>
          <td class="col-sm-5">
            <% if @user.is_deleted == false %>
              <p class="text-success font-weight-bold">有効</p>
            <% else %>
              <p class="text-secondary font-weight-bold">退会</p>
            <% end %>
        </tr>
      </table>
        <div class="offset-5 justify-content-center">
          <%= link_to "編集する", edit_admin_user_path(@user), class: "btn btn-success mr-5" %>
          <%= link_to "投稿レシピを見る", admin_recipe_path, class: "btn btn-primary" %>
        </div>
    </div>
  </div>
</div>