<%= form_with model: @recipe, local:true do |f| %>
  <div class="form-group">
    <%= f.label :料理名 %>
    <%= f.text_field :cooking_name, :placeholder => "（例）簡単！野菜ジュースカレー", class: 'form-control cooking_name', size: "15" %>
  </div>

  <div class="form-group">
    <%= f.label :材料 %>
    <%= f.text_area :material, :placeholder => "（例）野菜ジュース・・・200ml、豚ひき肉・・・100g、カレールー・・・1皿分、人参・・・1/4個、じゃがいも・・・1/4個、パプリカ・・・お好みで、サラダ油・・・適量、ニンニクチューブ・・・適量", class: 'form-control material', size: "20x5" %>
  </div>

  <div class="form-group">
    <%= f.label :作り方 %>
    <%= f.text_area :making, :placeholder => "（例）1.人参、じゃがいも、パプリカをさいの目切りにする。 2.シェラカップに油を入れ、ニンニクを火にかけ豚肉を入れて炒める。 3.豚肉に火が通ったら人参、じゃがいもを入れて炒め、火が通ったらパプリカをサッと炒め、野菜ジュースを入れる。 4.沸騰したら灰汁をとり、火を止めカレールーを入れる。 5.ルーが解けたら再度火にかけ、軽く煮詰めて完成！", class: 'form-control making', size: "30x10"  %>
  </div>

  <div class="form-group">
    <%= f.label :所要時間 %>
    <%= f.text_area :make_time, :placeholder => "（例）45分", class: 'form-control make_time' %>
  </div>

  <div class="form-group">
    <%= f.label :完成画像 %>
    <%= f.file_field :recipe_image, class: "form-control-file user_image", accept: 'image/*' %>
  </div>

  <div class="form-group">
    <%= f.submit "レシピを投稿する",class: 'btn btn-success' %>
  </div>
<% end %>