<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-1"></div>
      <h3 class="mu-4">レシピ一覧</h3>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>完成画像</th>
            <th>料理名</th>
            <th>投稿ユーザー<th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @recipes.each do |recipe| %>
            <tr>
              <td>
                <% if recipe.recipe_image.attached? %>
                  <%= image_tag recipe.recipe_image, size:'100x100' %>
                <% else %>
                  <%= image_tag asset_path('no_image'), size: "100x100" %>
                <% end %>
              </td>
              <td>
                <%= link_to recipe.cooking_name,recipe, class: "recipe_#{recipe.id}" %>
              </td>
              <td><%= link_to recipe.user.name, user_path(recipe) %></td>
              <td>
                <% if recipe.user == current_user %>
                  <%= link_to '編集', edit_recipe_path(recipe), class: "btn btn-sm btn-success edit_recipe_#{recipe.id}" %>
                  <%= link_to '削除', recipe, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_recipe_#{recipe.id}" %></td>
                <% else %>
                <%= render partial:'users/favorites/favorite_btn',locals:{recipe:recipe} %>
                <% end %> <%#= render "users/favorites/btn", recipe: recipe %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>