<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info p-1">
    <div class="container">
      <a class="navbar-brand" href="/">
        <%= image_tag asset_path('logo2.png'), size: "100x100" %>
      </a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li>
            <%= link_to user_path(current_user),class: 'nav-link text-light' do %>
              <i class="fas fa-campground"></i> マイページ
            <% end %>
          </li>
          <li>
            <%= link_to users_path,class: 'nav-link text-light' do %>
              <i class="fas fa-users"></i> ユーザー
            <% end %>
          </li>
          <li>
            <%= link_to recipes_path ,class: 'nav-link text-light' do %>
              <i class="fas fa-utensils"></i> レシピ
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-light' do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>
        <% elsif admin_signed_in? %>
          <li class="nav-item mr-3">
          <%= link_to "レシピ一覧", admin_recipes_path, class: 'nav-link text-light' %>
          </li>
          <li class="nav-item mr-3">
            <%= link_to "ユーザー一覧", admin_users_path, class: 'nav-link text-light'  %>
          </li>
          <li class="nav-item mr-3">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %>
          </li>
        <% else %>
          <li>
            <%= link_to root_path,class: 'nav-link text-light' do %>
              <i class="fas fa-home"></i> Home
            <% end %>
          </li>

          <li>
            <%= link_to new_user_registration_path,class: 'nav-link text-light' do %>
              <i class="fas fa-user-plus"></i> 新規登録
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path ,class: 'nav-link text-light' do %>
              <i class="fas fa-sign-in-alt"></i> ログイン
            <% end %>
          </li>
          <li>
            <%= link_to users_guest_sign_in_path, method: :post, class: 'nav-link text-light' do %>
              <i class="fas fa-sign-in-alt"></i> ゲストログイン
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
      <div>
        <%= render 'layouts/search' %>
      </div>
    </div>
  </nav>
</header>